body {
    margin: 0px;
    padding: 0;
    background-color: #BABABA;
}

h1 {
    letter-spacing: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-align: center;
}

#name {
    font-size: 250%;
    font-weight: 500%;
}

ul {
    list-style: none;
    background: white;   
}

li {
    display: inline-block;
}

nav {
    width: 25%;
    align-self: center;
    position: absolute;
    transform: translate(150%, 0);
    outline-style: solid;
    outline-color: white;
    background-color: black;
}

a {
    text-decoration: none;
    width: 75px;
    display: block;
    color: #B0B0B0;
}

img {
    margin: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    background-color: #454545;
    height: 250px;
}

p {
    font: "Raleway", Arial, sans-serif;
    text-align: center;
    font-size: 150%;
}

span {

    text-decoration: underline;
}